 .grid-pagination-container{
    .ant-pagination{
        text-align:center;
        padding-bottom:50px;

    }
 }
 .post-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    //For each row, auto fill it and in each cell it will have a minimum
    grid-gap:30px;
    grid-auto-rows:1fr;
    //rows equals in each side in one frame
    padding-bottom:50px;

    figure {
        height: 100%;
        max-height: 280px;
    }
    img{
        position:relative;
        border-radius: 5px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        height:100%;
        max-height: 200px;
        margin:0 auto;
        width:100%;
        max-height: 280px;
    }
    .post-container{
        display:flex;
        flex-direction:column;

        .author-text{
            color: $text-light;
            text-decoration: none;
        }
        a{
            padding:0 5px;
        }
        .description-ext{
            font-size:18px;
            font-weight: 400px;
            color:#555;

        }
    }
 }