$text-link:#2997ff;
$text-color:#444;
$background:#f8f9fa;
$border:#ccc;
$text-light:#999;
$turquese: rgba(0, 199, 190);
$indigo: rgba(88,88,214);
$greymid: rgba(199,199,204);
$grey1: rgba(142,142,147);
$grey2: rgba(174,174,178);
$grey3: rgba(209,209,214);
$grey4: rgba(124,124,128);