@import './../scss/variables';
@import './../scss/navigation';
@import './../scss/home';
@import './../scss/masonry-post';
@import './../scss/post-masonry';
@import './../scss/tag.row';
@import './../scss/post-grid';
@import './../scss/footer.scss';
@import './../scss/blog-content';
@import './../scss/news-detail';

html body{
    font-family: --apple-system,system-ui, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    margin:0;
    background-color: $background;
    
    
}

.container{
    max-width: 1200px;
    margin:0 auto;
    
}
.row{
    margin:4em 20px;
}
.overlay:before{
    z-index: 1;
    content: '';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: linear-gradient(180deg, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8));
}